{
	margin:0px;
	padding:0px;
}

body
{
	background:url('terrain.jpg') 
	bottom no-repeat;
	padding:0px 0px 0px;
}

h3{
	margin: 0px;
}

.page{
	width:90%;
	margin: 0 auto;
}
.header{
	border:solid 1px #888;
	height:150px;
	border-radius:30px;
	text-align:center;
	background:url('bg5.jpg');
	opacity:0.5;
	filter: alpha(opacity=70);
}
.nav
{
	border:solid 1px #888;
	border:solid 1px #888;
	height:50px;
	border-radius:30px;
	overflow:hidden;
	opacity:0.5;
	filter: alpha(opacity=50);
	background:#fff;
	color:#000;
	margin-top: 10px;
}
.nav ul li
{
	display:block;
	width:20%;
	float:left;
}
.nav ul li a
{
	display:block;
	line-height:25px;
	padding: 0px;
	text-align:center;
	text-decoration:none;
	color:#000;
}
.nav ul li a:hover
{
	display:block;
	line-height:25px;
	padding: 0px;
	text-align:center;
	text-decoration:none;
	color:#fff;
	background:#000;
}
.container
{
	margin-top:10px;
	height:550px;
}
.left
{
	height:550px;
	width:25%;
	float:left;
	margin-right:10px;
}
.content
{
	background:#c3aed6;
	height:550px;
	width:45%;
	float:left;
    opacity: 0.8;
    filter: alpha(opacity=50);
 
}
.animation 
{
  width: 100px;
  height: 100px;
  transition: width 2s, height 2s, transform 2s;
  opacity: 0.5;
  transform: rotate(30deg);
  
}

.animation:hover 
{
  width: 120px;
  height: 120px;
  transform: rotate(0deg);
  opacity: 1;
  animation-direction: reverse;
}
.right
{
	height:550px;
	width:25%;
	float:right;
	margin-left:10px;
}
.footer
{
	background:pink;
	height:30px;
	margin-top:10px;
	border-radius: 25px;
}
.footer-content
{
	padding-top: 8px;
}
